
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario:#000000;
    --corlor-secundario: #f6f6f6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-monserat: "Montserrat", sans-serif;
    --fuente-krona: "Krona One", sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    background-color: var(--color-primario);
    color: var(--corlor-secundario);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 7% 15%;
    justify-content: space-between;
    gap: 82px;
}

.presentacion_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido_titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciario);
}

.presentacion__contend_text{
    font-size: 1.5rem;
    font-family: var(--fuente-monserat
    );
}

.presentacion__contend_text a{
    text-decoration: none;
    color: var(--color-terciario);
}

.presentacion__contend_text_C h3.presentacion__contend_text_h3 {
    font-family: var(--fuente-krona); 
    font-size: 1.3rem;
    color: var(--color-terciario);
    margin-top: 15px; 
    margin-bottom: 10px; 
  }
  
  .presentacion__contend_text_C p.presentacion__contend_text_2 {
    font-size: 1rem; 
    font-family: var(--fuente-monserat);
    line-height: 1.5;
    color: var(--corlor-secundario);
    margin-bottom: 10px;
    padding-left: 15px; 
  }
  
  .presentacion__contend_text_C li.presentacion__contend_text_li {
    font-size: 1rem;
    font-family: var(--fuente-monserat);
    line-height: 1.5;
    color: var(--corlor-secundario);
    margin-bottom: 5px;
    padding-left: 15px; 
  }
  
  .presentacion__contend_text_C p.presentacion__contend_text_p2 {
    font-size: 1rem;
    font-family: var(--fuente-monserat);
    line-height: 1.5;
    color: var(--corlor-secundario);
    margin-bottom: 10px;
    padding-left: 15px; 
  }

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentacion__enlace_subtitulo{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400px;
}

.presentacion__enlace_intagram{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 16px;
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--corlor-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlace_linkedin{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--corlor-secundario);
    border: 2px solid var(--corlor-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlace_github{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-monserat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--corlor-secundario);
    border: 2px solid var(--corlor-secundario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.imagen__mia{
    width: 50%;
}

.presentacion__enlace_intagram:hover{
    background-color: var(--color-hover);
}

.presentacion__enlace_linkedin:hover{
    background-color: var(--color-hover);
}

.presentacion__enlace_github:hover{
    background-color: var(--color-hover);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
    padding: 30px;
    font-weight: 400;
}

.presentacion_baja{
    color: var(--color-primario);
    font-family: var(--fuente-monserat);
    font-size: 19px;
}

@media (max-width: 1200px){
    
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion_contenido{
        width: auto;
    }
}


